In [1]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [4]:
ser1 = Series(np.arange(3), index=['A','B','C']) #arange a series and name the index.
ser1

A    0
B    1
C    2
dtype: int32

In [5]:
ser1.drop('B') #dropping a row

A    0
C    2
dtype: int32

In [8]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)), index=['NYC','CHI','LA'], columns=['pop','size','year'])
dframe1 #arange the data frame with 9 cells, then rearange 3x3.

     pop  size  year
NYC    0     1     2
CHI    3     4     5
LA     6     7     8

In [9]:
dframe1.drop('CHI') #drop a row

     pop  size  year
NYC    0     1     2
LA     6     7     8

In [10]:
dframe1

     pop  size  year
NYC    0     1     2
CHI    3     4     5
LA     6     7     8

In [11]:
dframe2 = dframe1.drop('CHI') #create a data frame that includes the dropped data frame.
dframe2

     pop  size  year
NYC    0     1     2
LA     6     7     8

In [12]:
dframe1.drop('year', axis=1) # to drop a column, give the (name, axis for 1). axis=0 is rows, axis=1 is column

     pop  size
NYC    0     1
CHI    3     4
LA     6     7