In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
from numpy.random import randn #random valriables

In [3]:
ser = Series(randn(6), index=[[1,1,1,2,2,2], ['a', 'b', 'c', 'a', 'b', 'c']]) # 2 index levels
ser

1  a   -0.979337
   b   -2.830677
   c    0.605474
2  a    0.258430
   b   -0.083644
   c    0.128580
dtype: float64

In [4]:
ser.index #index method

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [5]:
ser[1] # call index 1 values

a   -0.979337
b   -2.830677
c    0.605474
dtype: float64

In [6]:
ser[:,'a'] # search for any index with the 'a' index

1   -0.979337
2    0.258430
dtype: float64

In [7]:
dframe = ser.unstack() #organizes data in a nicer table

dframe

          a         b         c
1 -0.979337 -2.830677  0.605474
2  0.258430 -0.083644  0.128580

In [9]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), index=[['a','a','b','b'], [1,2,1,2]], 
                    columns=[['NY','NY', 'LA', 'CHI'], ['cold', 'hot', 'hot', 'cold']])
# Both rows and columns have 2 sets of indexes
dframe2

      NY      LA  CHI
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [10]:
dframe2.index.names = ['Index1', 'Index2'] # naming indexes

In [11]:
dframe2.columns.names = ['Cities', 'temp'] #naming columns

In [12]:
dframe2

Cities          NY      LA  CHI
temp          cold hot hot cold
Index1 Index2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [13]:
dframe2.swaplevel('Cities', 'temp', axis=1) #swap columns

temp          cold hot     cold
Cities          NY  NY  LA  CHI
Index1 Index2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [37]:
dframe2.sort_index(1) #sort rows.

Cities         CHI  LA   NY
temp          cold hot cold hot
Index1 Index2
a      1         3   2    0   1
       2         7   6    4   5
b      1        11  10    8   9
       2        15  14   12  13

In [28]:
dframe2.sum(level='temp', axis=1) #adding the sum of all the temp index values.

temp           cold  hot
Index1 Index2
a      1          3    3
       2         11   11
b      1         19   19
       2         27   27