In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [5]:
ser = Series([1,2,3,4], index=['A','B','C','D'])

ser

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser.reindex(['A','B','C','D','E','F'])

ser2 #reindexing

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0) # reindexing with the fil_value. fills anything that dose't hold a value

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['Canada','USA','Mexico'], index=[0,5,10]) # passing values with different indexes.

ser3

0     Canada
5        USA
10    Mexico
dtype: object

In [9]:
ranger = range(15) # create a range from 0 to 14
ranger

range(0, 15)

In [14]:
ser3.reindex(ranger, method='ffill') #when you forward fill, it will fill empty cells, until it hits a filled index.

0     Canada
1     Canada
2     Canada
3     Canada
4     Canada
5        USA
6        USA
7        USA
8        USA
9        USA
10    Mexico
11    Mexico
12    Mexico
13    Mexico
14    Mexico
dtype: object

In [20]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['1.', '2.', '3.', '4.', '5.'])

dframe # making a deframe making it's shape 5x5, adding a random number from 0 to 24 in each cell.

         1.        2.        3.        4.        5.
A -0.708285 -1.171162  0.046412  0.096015 -0.216640
B  0.045910 -2.203750 -0.032330 -0.255651  0.705649
D  0.916530  2.116668 -0.356063  0.264632  0.183377
E -0.206301 -0.193759 -0.992259  0.806300  0.629007
F -1.273612  2.372566 -0.696365 -1.082764  0.476079

In [27]:
dframe2 = dframe.reindex(['A','B','C','D','F'])
dframe2 # adding C to the index will result in all cells in the C row to be null

         1.        2.        3.        4.        5.
A -0.708285 -1.171162  0.046412  0.096015 -0.216640
B  0.045910 -2.203750 -0.032330 -0.255651  0.705649
C       NaN       NaN       NaN       NaN       NaN
D  0.916530  2.116668 -0.356063  0.264632  0.183377
F -1.273612  2.372566 -0.696365 -1.082764  0.476079

In [23]:
new_columns = ['1.', '2.', '3.', '4.', '5.', '6.']

In [29]:
dframe2.reindex(columns=new_columns) # adding a new column

         1.        2.        3.        4.        5.  6.
A -0.708285 -1.171162  0.046412  0.096015 -0.216640 NaN
B  0.045910 -2.203750 -0.032330 -0.255651  0.705649 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.916530  2.116668 -0.356063  0.264632  0.183377 NaN
F -1.273612  2.372566 -0.696365 -1.082764  0.476079 NaN

In [30]:
dframe

         1.        2.        3.        4.        5.
A -0.708285 -1.171162  0.046412  0.096015 -0.216640
B  0.045910 -2.203750 -0.032330 -0.255651  0.705649
D  0.916530  2.116668 -0.356063  0.264632  0.183377
E -0.206301 -0.193759 -0.992259  0.806300  0.629007
F -1.273612  2.372566 -0.696365 -1.082764  0.476079