In [1]:
import pandas as pd

In [2]:
# pip install xlrd
# pip install openpyxl

In [3]:
xlsfile = pd.ExcelFile('Excel File.xlsx') #read the excel file

In [5]:
dframe = xlsfile.parse('Sheet1') #get Sheer 1 from excel File

In [6]:
dframe

   Test 5  Unnamed: 1  Unnamed: 2
0    1232          32         433
1     555          23          54
2     786        1243          43
3     254         743          87

In [7]:
url = 'https://pandas.pydata.org/pandas-docs/version/0.16.0/generated/pandas.io.excel.ExcelFile.parse.html'