In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
dframe = pd.read_csv('TextFile.csv') #read a csv text file

In [5]:
dframe

   w   a   s   d        dog
0  m   n   x   z        cat
1  u   i   o   p      zebra
2  y   g   h   j   elephant

In [6]:
dframe = pd.read_csv('TextFile.csv', header = None) #Make sure the first row isn't an index

In [7]:
dframe

   0   1   2   3          4
0  w   a   s   d        dog
1  m   n   x   z        cat
2  u   i   o   p      zebra
3  y   g   h   j   elephant

In [8]:
dframe = pd.read_table('TextFile.csv', sep=',', header = None) #2nd way to read csv file. Must indicate that ',' is a seperator!
dframe

   0   1   2   3          4
0  w   a   s   d        dog
1  m   n   x   z        cat
2  u   i   o   p      zebra
3  y   g   h   j   elephant

In [9]:
pd.read_csv('TextFile.csv', header = None, nrows=2) #read the rows that are (nrows > rows)

   0   1   2   3     4
0  w   a   s   d   dog
1  m   n   x   z   cat

In [10]:
dframe.to_csv('myTxtOut.csv')

In [11]:
import sys #see output of csv files

In [12]:
dframe.to_csv(sys.stdout) #Show the output of the csv file

,0,1,2,3,4
0,w, a, s, d, dog
1,m, n, x, z, cat
2,u, i, o, p, zebra
3,y, g, h, j, elephant

In [14]:
dframe.to_csv(sys.stdout, sep='+') # change the separator to a different variable

+0+1+2+3+4
0+w+ a+ s+ d+ dog
1+m+ n+ x+ z+ cat
2+u+ i+ o+ p+ zebra
3+y+ g+ h+ j+ elephant

In [15]:
dframe.to_csv(sys.stdout, columns=[0, 1, 2]) #show a certain number of columns

,0,1,2
0,w, a, s
1,m, n, x
2,u, i, o
3,y, g, h

In [16]:
url = 'https://docs.python.org/3/library/csv.html' #important documentation for python