In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
ser1 = Series([1, 2, 3, 4, 1, 2, 3, 4])
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [4]:
ser1.replace(1, np.nan) #replace 1 values with null. replace(value u want to replace, replacement value)

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    2.0
6    3.0
7    4.0
dtype: float64

In [5]:
ser1.replace([1, 4], [10, 44]) # replacing 1 & 4 values with 10 & 44

0    10
1     2
2     3
3    44
4    10
5     2
6     3
7    44
dtype: int64

In [6]:
ser1.replace({4: np.nan})

0    1.0
1    2.0
2    3.0
3    NaN
4    1.0
5    2.0
6    3.0
7    NaN
dtype: float64